ion-list {
  background: transparent;
  transform: translateY(10vh);
  ion-list-header {
    margin-bottom: 5vh;
    letter-spacing: 3px;
    ion-label {
      font-weight: bold;
      font-size: 3rem;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
  }
  p {
    font-size: 0.8rem;
    padding-top: 1vh;
  }
}
.alignItems {
  ion-icon, ion-note {
    display: inline-block;
    vertical-align: middle;
  }
  ion-icon {
    margin-right: 1vw;
    font-size: 1.1rem;
  }
}

ion-footer {
  ion-text {
    font-size: 0.8rem;
  }
}